<% postCard[:posts].each do |post| %>

    <%= link_to(post_path(post)) do %>
      <div class="post-card">
        <div class="overlay">

        </div>
        <div class="card-title">

          <%= post.title.html_safe %>
          <p class="date"><%= post.created_at.strftime("%d %b, %Y") %></p>
        </div>

        <%= image_tag post.picture.url(:normal) %>

    <% end %>
        <div class="card-inner">
          <% if post.body.length > 1 %>
            <%= truncate(post.body, :length => 340).html_safe %>
          <% end %>
        </div>
      </div>

<% end %>
