<div class="hero-container">
</div>
<%= link_to(post_path(@heroPost)) do %>
  <div class="hero-card">
    <div class="hero-card-inner">
      <p class="latest-posts">Latest Post</p>
      <h1><%= @heroPost.title %></h1>
      <p class="date"><%= @heroPost.created_at.strftime("%d %b, %Y") %></p>
      <%= image_tag @heroPost.picture.url(:normal) %>
      <span><%= truncate(@heroPost.body, :length => 500) %></span>
    </div>
  </div>
<% end %>
<p class="older-posts">older posts</p>
<div class="card-container">
  <%= render :partial => 'shared/postCard', :object => {:posts => @posts, :latestpost => @heroPost } %>
</div>
