<%= link_to(post_path(@heroPost)) do %>
  <div class="hero-card">
    <h1><%= @heroPost.title %></h1>
    <p><%= @heroPost.created_at.strftime("%d %b, %Y") %></p>
    <%= image_tag @heroPost.picture.url(:normal) %>
    <span><%= truncate(@heroPost.body, :length => 500) %></span>
<% end %>
</div>
<div class="card-container">
  <%= render :partial => 'shared/postCard', :object => {:posts => @posts, :latestpost => @heroPost } %>
</div>
