<div class="row">

  <div class="span6 offset3">
    <h1>Make a Post </h1>
    <%= render 'shared/error_messages', object: @post %>
  <%= form_for (@post) do |f| %>
    <%= f.label :title %>

    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_field :body, value: " ", class: "post-input-field"  %>

    <br>
    <%= f.submit "Submit Post", class: "btn btn-large btn-success" %>
  <% end %>
  </div>
</div>
